@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cera Pro';
    src: url('/src/assets/fonts/CeraPro-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('/src/assets/fonts/CeraPro-Chronicle Display Black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}